@model toDoWeb.Models.Tarefa

@{
    ViewData["Title"] = "Deletar contato";
}
<div class="alert alert-danger" role="alert">
    <h1>Deseja realmente deletar a tarefa @Html.DisplayFor(x => x.Id)? Essa operação é irreversível.</h1>
</div>
<hr>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Titulo)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Titulo)
        </dt>  
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Descricao)
        </dt>  
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Data)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Data)
        </dt>  
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Status)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Status)
        </dt>   
    </dl>
</div>
<form asp-action="Deletar">
    <input type="submit" value="Deletar" class="btn btn-danger">
</form>
<div class="form-group mt-3">
    <a asp-action="Index" class="btn btn-secondary"> Voltar</a>
</div>