@model IEnumerable<toDoWeb.Models.Tarefa>

@{
    ViewData["Title"] = "Lista de tarefas";
}

<div class="text-center">
    <h1 class="display-4">Lista de Tarefas</h1>
</div>

<p><a asp-action="Criar" class="btn btn-primary">Nova Tarefa</a></p>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Titulo)</th>
                <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                <th>@Html.DisplayNameFor(model => model.Data)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                        <td>@Html.DisplayFor(model => item.Id)</td>
                        <td>@Html.DisplayFor(model => item.Titulo)</td>
                        <td>@Html.DisplayFor(model => item.Descricao)</td>
                        <td>@Html.DisplayFor(model => item.Data)</td>
                        <td>@Html.DisplayFor(model => item.Status)</td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.Id">
                                <button type="button" class="btn btn-outline-primary">Editar</button>
                            </a>
                            <a asp-action="Detalhes" asp-route-id="@item.Id">
                                <button type="button" class="btn btn-outline-secondary">Detalhes</button>
                            </a>
                            <a asp-action="Deletar" asp-route-id="@item.Id">
                                <button type="button" class="btn btn-outline-danger">Excluir</button>
                            </a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
